name: Deploy React/Ts Frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs: 
  frontend-build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # GitHub - Install frontend dependencies and build
      - name: Build frontend
        run: |
          npm install  
          npm run build

      # Start SSH agent with GitHub secret key
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Add server to known_hosts to avoid verification errors
      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan barryonweb.com >> ~/.ssh/known_hosts

      # Transfer frontend from GitHub Repo to Ubuntu server via SCP
      - name: Deploy frontend via SSH 
        run: |
          ssh barry75@barryonweb.com "mkdir -p /var/www/chatapp/frontend"
          scp -r dist/* barry75@barryonweb.com:/var/www/chatapp/frontend/
